:root {
  --smallDrumsSize: 25rem;
  --bigDrumsSize: 33rem;
  --internalDrumsZize: 15rem;
  --internalBorderSize: 2.5rem;
  --greyBigInternalCircleSize: 23rem;
  --h1Size: 8rem;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-image: url("../Image/beautiful-shot-of-starry-night-sky.jpg");
  background-size: cover;
}

h1 {
  font-family: Mansalva;
  font-size: var(--h1Size);
  font-weight: 500;
}

/* Shared */



/* header_NavBar */

nav {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 13.6rem;
  border-bottom: 0.4rem solid white;
}

.divLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  color: white;
}

.divLogo button {
  display: none;
}

.divMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: Mulish;
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

.divMenu img {
  width: 10rem;
  height: 10rem;
}

.divMenu p:hover {
  color: #D5E763;
  cursor: pointer;
}

.divMenu img:hover {
  cursor: pointer;
}

/* Drums Section*/

.desktopDrumsSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: calc(100vh - 14rem);
}

.divTopDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  padding-left: 6%;
  padding-right: 6%;
}

.divMiddleDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.divBottomDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
}

.divSmallDrums {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--smallDrumsSize);
  height: var(--smallDrumsSize);
  border-radius: 100%;
}

.divBigDrums {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--bigDrumsSize);
  height: var(--bigDrumsSize);
  border-radius: 100%;

}

.yellowDrums {
  background-color: #EFB810;

}

.greyDrums {
  background-color: #4F4B3F;
  border: 0.1rem solid #D0CFCD;
}

.redInternalBorder {
  width: var(--internalDrumsZize);
  height: var(--internalDrumsZize);
  border-radius: 100%;
  border: var(--internalBorderSize) solid #AF5757;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenInternalBorder {
  width: var(--internalDrumsZize);
  height: var(--internalDrumsZize);
  border-radius: 100%;
  border: var(--internalBorderSize) solid #37535A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.redInternalBorder p,
.greenInternalBorder p,
.greSmallInternalCircle p {
  font-family: Mulish;
  font-size: 2.8rem;
  font-weight: 900;
}

.greyBigInternalCircle {
  width: var(--greyBigInternalCircleSize);
  height: var(--greyBigInternalCircleSize);
  border-radius: 100%;
  background-color: #C6C1BE;
  display: flex;
  align-items: center;
  justify-content: center;

}

.greyBigInternalCircle p {
  font-family: Mulish;
  font-size: 5rem;
  font-weight: 900;
}

.greSmallInternalCircle {
  width: 17.4rem;
  height: 17.4rem;
  border-radius: 17.4rem;
  background-color: #C6C1BE;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Drums Section */
.mobileDrumsSection {
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: calc(100vh - 12rem);
}

.divFirstRowDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.divSecondRowDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.divThirdRowDrums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.divFourthRowDrums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  padding-left: 12rem;
  padding-right: 12rem;
}

.divFifthRowDrums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  padding-bottom: 2rem;
}

/*******************Responsive******************/

/*Desktop Responsive*/

@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: calc(10px * 0.84);
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  html {
    font-size: calc(10px * 0.71);
  }
}


/* Mobile Responsive */

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --h1Size: 6rem;
  }

  html {
    font-size: calc(10px * 0.7);
  }

  .desktopDrumsSection {
    display: none;
  }

  .mobileDrumsSection {
    display: grid;
    z-index: 1;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: none;

  }

  .divLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 15rem;
    border-bottom: 0.2rem solid white;
    height: 10rem;
    width: auto;
  }


  .divLogo button {
    display: flex;
    font-size: 8rem;
    background-color: transparent;
    border: 0;
    color: white;
  }

  .divMenu {
    position: absolute;
    top: 10.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    width: 100%;
    height: calc(100vh - 30.2rem);
    padding: 5rem 0 15rem 0;
    background-image: url("../Image/beautiful-shot-of-starry-night-sky.jpg");
    background-size: cover;
  }

  .divMenu img {
    border: 0.12em solid white;
    width: 20rem;
    height: 20rem;
    padding: 1.2rem 8.2rem 1.2rem 8.2rem
  }

  .divMenu p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.05em solid white;
    width: 36.4rem;
    height: 20rem;
    font-size: 6rem;
  }

}


@media (min-width: 360px) and (max-width: 767px) {
  :root {
    --h1Size: 6rem;
  }

  html {
    font-size: calc(10px * 0.42);
  }

  .desktopDrumsSection {
    display: none;
  }

  .mobileDrumsSection {
    display: grid;
    z-index: 1;
  }


  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: none;

  }

  .divLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 15rem;
    color: white;
    border-bottom: 0.36rem solid white;
    width: auto;
    height: 12rem;
  }


  .divLogo button {
    display: flex;
    font-size: 12rem;
    background-color: transparent;
    border: 0;
    color: white;
  }


  .divMenu {
    position: absolute;
    top: 12.36rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-family: Mulish;
    font-size: 5.4rem;
    font-weight: 700;
    color: white;
    width: 100%;
    height: calc(100vh - 32.36rem);
    padding: 5rem 0 15rem 0;
    background-image: url("../Image/beautiful-shot-of-starry-night-sky.jpg");
    background-size: cover;
  }

  .divMenu img {
    display: flex;
    border: 0.216rem solid white;
    width: 14.4rem;
    height: 14.4rem;
    padding: 2.16rem 14.76rem 2.16rem 14.76rem
  }

  .divMenu p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.216rem solid white;
    width: 43.92rem;
    height: 18.72rem;

  }

}